body {
    background-color: #14213D;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    transition: filter 0.7s;
  }
  .container.active{
    filter: blur(2px) brightness(0.7);
  }
  .form-container {
    background-color: #ebebeb;
    font-family: "Raleway Regular", sans-serif;
    display: flex;
    width: 600px;
    height: 500px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    opacity: 1;
    transition: all 0.7s;
  }
  .active.form-container{
    visibility: hidden;
    opacity: 0;
  }
  .section-1{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #FCA311;
    width: 100%;
}
label{
    color: black;
}
img{
    height: 100%;
    width: 100%;
}
  .btn,.btn1 {
    background-color: #ff6700; /* blue */
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
  }

.btn1:hover{
     background-color: black;
     color: white;
  }
.close-icon{
    cursor: pointer;
}
.close-icon:hover{
  color: red;
}